<div>
  <div ng-controller="driverAppCtrl as abc" class="col-md-12">
    <div  class="container col-md-12">
      <h1>Driver App - driver id : {{driverId}}</h1><button id="refresh" ng-click="refresh()"><b>Refresh</b></button>
    </div>
    <div  class="container col-md-12">

      <div class="container scroll-div">
      <table datatable="" dt-options="abc.dtOptions" class="table">
        <thead>
        <tr class="div-unclick">
          <th><h2>Waiting</h2></th>
          <th><h2>Ongoing</h2></th>
          <th><h2>Complete</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in getMaxElems()">
          <td ng-show="$index<driverData.waiting.length">
            <div>Req Id: {{driverData.waiting[$index].request_id}}  Cust Id : {{driverData.waiting[$index].customer_id}}</div><br>
            <div>  {{driverData.waiting[$index].request_mins}}  mins ago</div><br>
            <button ng-click="acceptRide(driverData.waiting[$index].request_id)"><b>Select</b></button><br>
          </td>
          <td ng-show="!($index<driverData.waiting.length)"></td>
          <td ng-show="$index<driverData.ongoing.length">
            <div>Req Id: {{driverData.ongoing[$index].request_id}}  Cust Id : {{driverData.ongoing[$index].customer_id}}</div><br>
            <div>Request: {{driverData.ongoing[$index].request_mins}} mins ago</div><br>
            <div>Picked Up : {{driverData.ongoing[$index].pickup_mins}}</div>
          </td>
          <td ng-show="!($index<driverData.ongoing.length)"></td>
          <td ng-show="$index<driverData.completed.length">
            <div>Req Id: {{driverData.completed[$index].request_id}}  Cust Id : {{driverData.completed[$index].customer_id}}</div><br>
            <div>Request: {{driverData.completed[$index].request_mins}} mins ago</div><br>
            <div>Picked Up : {{driverData.completed[$index].pickup_mins}} mins ago</div><br>
            <div>Complete : {{driverData.completed[$index].complete_mins}} mins ago</div>
          </td>
          <td ng-show="!($index<driverData.completed.length)"></td>
        </tr>
        </tbody>
      </table>
      </div>

    </div>
  </div>
  </div>
  </div>
